[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = {version = "==0.16.0", extras = ["standard"]}
fastapi = "==0.70.1"
requests = "==2.26.0"
python-dotenv = "==0.19.2"
mongoengine = "==0.23.1"
Authlib = "==0.15.5"

[dev-packages]

[requires]
python_version = "3.9"
